<p style="color: green"><%= notice %></p>
<%= form_tag clinics_path, method: :get do %>


<h1>Clinics</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Hospital name  <%= text_field_tag :name, params[:name], placeholder: 'Search by name' %>
      <%= submit_tag 'SearchUp' %></th>
    <th>Number of departments <%= submit_tag 'Up2' %> <%= submit_tag 'Down2' %></th>
    <th>Number of doctors <%= submit_tag 'Up3' %> <%= submit_tag 'Down3' %></th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @clinics.each do |clinic| %>
    <tr>
      <td><%= clinic.id %></td>
      <td><%= clinic.name %></td>
      <td><%= clinic.otdelenie.count %></td>
      <td><%= doctor_count = clinic.otdelenie.joins(:doctor).distinct.count(:doctor_id) %></td>
      <td><%= link_to 'показать', clinic %></td>
      <td><%= link_to 'редактировать', edit_clinic_path(clinic) %></td>
      <td><%= link_to 'удалить', clinic, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
<%= link_to "New clinic", new_clinic_path %>
<br><br>
<%= paginate @clinics, params: { name: params[:name], commit: params[:commit] } %>
