<p style="color: green"><%= notice %></p>



<h1><%= @special.name %> </h1>

<h1><%= @doctor.name %> </h1>


<div>
  <%= link_to "Edit this special", edit_special_path(@special) %> |
  <%= link_to "Back to specials", specials_path %>

  <%= button_to "Destroy this special", @special, method: :delete %>
</div>
