<h1>New doctor</h1>

<%= form_with model: @doctor do |form| %>

  <div class="pole">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="pole1">
    <%= form.label :stag %>
    <%= form.text_field :stag %>
  </div>



  <div class="send">
    <%= form.submit %>
  </div>

<% end %>

<br>

<div>
  <%= link_to "Back to doctors", doctors_path %>
</div>
