<h1>Editing card pacient</h1>
<%= form_with model: @cardPacient, method: :patch do |form| %>
  <div class="pole">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="pole">
    <%= form.label :pacient_id %>
    <%= form.collection_select :pacient_id, Pacient.all, :id, :name, { prompt: 'Выберите pacient' } %>
  </div>
  <div class="pole">
    <%= form.label :clinic_id %>
    <%= form.collection_select :clinic_id, Clinic.all, :id, :name, { prompt: 'Выберите clinic' } %>
  </div>





  <div class="send">
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this card pacient", @card_pacient %> |
  <%= link_to "Back to card pacients", card_pacients_path %>
</div>
